[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
pyarrow = "*"
flask = "*"
xgboost = "*"
lightgbm = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
